<!DOCTYPE html>

<html>
<title>Confirmation</title>

<head>
<style type="text/css">
div.title
{
   font-size:30px;
   margin-left:30px;
   margin-top:20px;
   margin-bottom:20px;
}

div.intro
{
    font-size:20px;
    margin-left:50px;
    margin-bottom:20px;
    margin-right:20px;
}

div.info
{
    background-color:#EBE6E5;
    margin-left:50px;
    margin-right:50px;
    padding:10px;
}

</style>
</head>

<body>
<div class='title'>Confirmation</div>

<div class='intro'>Here is the information of your chosen cleaner</div>

<div class='info'>
    Name: <br>
    Age: <br>
    Location: <br>
    Contact information: <br>
   

</div>

<div class='intro'>Please contact your cleaner soon.</div>

<form action="http://google.com">
    <input type="submit" value="Go to Google" />
</form>

<form action="login.html">
    <input type="submit" value="Back to Login Page" />
</form>

</body>

</html>
