<!DOCTYPE html>

<head>
    <title>Clean House Initiative login</title>
	<link rel="stylesheet" href="/static/login/login_style.css">

</head>

<body>
	<div class="welcome">
		<h1> Clean House Initiative</h1>
	</div>
  <button onclick="read()">Read mission statement</button>

	<script>
	function read(){
		var msg = new SpeechSynthesisUtterance('Clean House Initiative aims to connect landlords with people who are looking for temporary jobs and potentially housing as well. The website matches landlords with candidate cleaners for their apartments, and landlords can then choose to rent to their cleaner. Each landlord and candidate also has a record of their hiring/cleaning history that serves as a reference for the matching process. The goals of the initiative include: Provide local landlords with employees who can clean their apartments and improve hygiene of the surrounding neighborhood as a result. Provide people without permanent residence with a platform to find a job, which can potentially serve as a way to find an apartment to rent.');
		window.speechSynthesis.speak(msg);
	}
	</script>
    <form action="{% url 'main' %}" method="post" {{ form.errors }}>
      {% csrf_token %}
      <label for="your_identity"> Your identity: </label>
            <input type="text" id="identity" name="identity"" placeholder="employer/employee"/>
    	      <input type="submit" value="OK"></button>
    </form>
    </div>
</body>

</html>
