<!DOCTYPE html>

<head>
    <title>Clean House Initiative login</title>
	<link rel="stylesheet" href="/static/login/login_style.css">

</head>

<body>
	<div class="welcome">
		<h1> Clean House Initiative</h1>
	</div>
    <div class="login">
        <form method="post" action="{%url 'login:check'%}">
            {%csrf_token%}
            <h3>Login: yzeng19; password: yzeng19</h3> {%if attempt%}
            <p style="color:#FF0000;"><strong>{{"Invalid Login or Password"}}</strong></p>
            {%endif%}
			<div class="info">
				<div>
	            	<input type="input" name="id" placeholder="Login"/>
				</div>
				<div>
	            	<input type="input" name="pw" placeholder="Password"/>
				</div>
				<div>
	            	<input type="submit" name="submit" value="submit" />
				</div>
			</div>
        </form>
    </div>
</body>

</html>
